<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--<%= stylesheet_link_tag    "application" %> -->
  <%= stylesheet_link_tag    'screen', :media => 'screen' %>
  <%= stylesheet_link_tag    'print', :media => 'print' %>
  <%= stylesheet_link_tag    'custom', :media => 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= render 'layouts/header' %>
	<section class="round">
		<%= yield %>
	</section>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
